.sells-title {
  border-bottom: 2px solid #2196f3;
  color: #2196f3;
}

.sells-table-header {
  background: #a0a2e2 !important;
  color: blue;
}

.form-container {
  margin: 2em;    
  border: 1px solid #a4b1ba;
  border-radius: 3px;
  min-height: 350px;
}

.form-container-title {
  background: #347ab8;
  color: white;
  padding: 10px;
}

.separator-line {
  color: #73c7d9;
  border: 1px solid;
}

.form-container-padding {
  padding: 0 30px !important;
}

.add-article-button {
  font-size: 33px;
  vertical-align: bottom;
  color: grey;
  cursor: pointer;
}


.table-body {
  line-height: 0;
  background: #cacbf7;
}

.angucomplete-text {
  color: blue;
}

.angucomplete-dropdown {
  left: 15%;
  margin-top: 20px;
}

.articles-list {
  line-height: 0;
  background: #dedede;
}

.new-sell-pending {
  background: #adadfb;
  color: blue;
  text-align: center;
}

.pending-months-sale {
  line-height: 0.5;
  background: #e2e1e1;
}