<div class="row">
  <div class="form-container row">
    <div class="form-container-title">Registro de Ventas</div>
    <div class="col s12 m12 l12 right-align folio-style">Folio Venta: {{folioToShow || '0'}}</div>
    <div class="col s12 m12 l12">
      <span class="form-remarked-text col s2 m2 l2">Cliente&nbsp;&nbsp;</span>
        <angucomplete-alt id="clients"
        placeholder="Buscar cliente..."
        pause="100"
        selected-object="selectedClient"
        local-data="clients"
        search-fields="fullName"
        title-field="showName"
        minlength="3"
        input-class="form-control angucomplete-text col s4 m4 l4"/>  
        <span ng-show="selectedClient.originalObject.RFC" class="col s6 m6 l6"> RFC: {{selectedClient.originalObject.RFC}}</span>

    </div>
    <div class="col s12 m12 l12" ng-show="step === 1">
      <hr class="col s12 separator-line">
    </div>
    <div class="col s12 m12 l12" ng-show="step === 1">
      <span class="form-remarked-text col s2 m2 l2">Artículo</span>
      <angucomplete-alt id="clients"
        placeholder="Buscar Artículo..."
        pause="100"
        selected-object="selectedArticle"
        local-data="articles"
        search-fields="descripcion"
        title-field="descripcion"
        minlength="3"
        input-class="form-control angucomplete-text col s4 m4 l4"/>  
      <i class="material-icons add-article-button" ng-click="addItem()">add_box</i>
    </div>
    <div class="col s12 m12 l12 m-t-1em"> 
      <div class="col s12 m12 l12">
        <hr class="regular-border">
      </div>
      <table>
        <tr class="articles-list">
          <th>
            Descripción del Artículo
          </th>
          <th>
            Modelo
          </th>
          <th>
            Cantidad
          </th>
          <th>
            Precio
          </th>
          <th>
            Importe
          </th>
          <th></th>
        </tr>
        <tr ng-repeat="item in currentSoldItems" class="blue-text">
          <td>{{item.descripcion}}</td>
          <td>{{item.modelo}}</td>
          <td>
            <input type="number" 
                   name="" 
                   ng-model="item.cantidad"
                   ng-init="item.cantidad = 1"
                   ng-change="verifyMax($index)">
          </td>
          <td>{{item.realPrice | currency}}</td>
          <td>{{item.realPrice * item.cantidad | currency}}</td>
          <td>
            <i class="material-icons pointer red-text"
               ng-click="removeSelectedSell($index)">close</i>
          </td>
        </tr>
      </table>

      <hr>
      <div class="col s4 offset-s8 m4 offset-m8 l4 offset-l8">
        <div class="col s6 right-align">Enganche:</div>
        <span class="col s6 right-align blue-text">{{enganche | currency}}</span>
        <div class="col s6 right-align">Bonificación Enganche:</div>
        <span class="col s6 right-align blue-text">{{bonificacion | currency}}</span>
        <div class="col s6 right-align">Total:</div>
        <span class="col s6 right-align blue-text">{{totalAdeudo | currency}}</span>
      </div>
    </div>
    <div>
      <table class="bordered" ng-show="step === 2">
        <thead class="center">
          <th colspan="5" class="new-sell-pending">ABONOS MENSUALES</th>
        </thead>
        <tr class="pending-months-sale"
            ng-repeat="month in months">
          <td>
            {{month.month}} ABONOS DE 
          </td>
          <td>
            {{(contado * (1 + (config.tasa * month.month)/100)) / month.month | currency }} 
          </td>
          <td>
            TOTAL A PAGAR {{contado * (1 + (config.tasa * month.month)/100) | currency }} 
          </td>
          <td>
            SE AHORRA {{totalAdeudo - (contado * (1 + (config.tasa * month.month)/100)) | currency}}
          </td>
          <td>
            <input name="mes_{{$index}}" 
                   type="radio" 
                   ng-model="month.selected"
                   ng-value="true"/>
            <label for="mes_{{$index}}" 
                   ng-click="setSelectedRadio($index)"></label>
          </td>
        </tr>
      </table>
    </div>
  </div>
    <button class="btn waves-effect right green m-l-1em" ng-click="nextStep(step)">{{text}}</button>
    <button class="btn waves-effect right green" ng-click="cancelModal()">Cancelar</button>
</div>

<div id="cancel-new-sell" class="modal">
    <div class="modal-content">
      <h4>Cancelar</h4>
      <p>Desea cancelar la captura y regresar a la pantalla anterior?</p>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect right green m-l-1em" ng-click="cancelTransaction()">Si</button>
      <button class="btn waves-effect right green modal-close m-l-1em">No</button>
    </div>
  </div>