<div class="row">
  <button class="right btn waves-effect blue"
          ui-sref="new-sell"><i class="material-icons icon-center">add</i>Nueva Venta</button>
  <div class="col s12 m12 l12 sells-title">Ventas Activas</div>
  <table>
    <thead>
      <tr class="sells-table-header">
        <td class="padding-none">Folio Venta</td>
        <td class="padding-none">Clave Cliente</td>
        <td class="padding-none">Nombre</td>
        <td class="padding-none">Total</td>
        <td class="padding-none">Fecha</td>
      </tr>
      <tr ng-repeat="item in items" class="table-body">
        <td>{{item.folioVenta}}</td>
        <td>{{item.claveCliente}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.total | currency}}</td>
        <td>{{item.fecha}}</td>
      </tr>
    </thead>
  </table>
</div>