<div ng-controller="headerController">
  <div class="row margin-none">
    <div class="right">
      <span class="vendimia-top-text">La Vendimia</span>
      <img src="/modules/core/client/img/vendimia.png" class="vendimia-ico">
    </div>
  </div>
  <nav>
    <div class="nav-wrapper">
        <div class="right topbar-aditional">{{topbarCurrent}}</div>
        <a class="dropdown-button header-menu pointer" 
           data-activates="dropdown1"  
           data-beloworigin="true">Inicio</a>
      </ul>
    </div>
  </nav>


  <ul id="dropdown1" class="dropdown-content">
    <li><a ui-sref="sells">Ventas</a></li>
    <li class="divider"></li>
    <li><a>Clientes</a></li>
    <li><a>Artículos</a></li>
    <li><a>Configuración</a></li>
  </ul>
</div>