.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

nav {
  background: #333333;
}

.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}

input {
  background: white !important;
  border: 1px solid gray !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  padding: 0 0 0 5px !important;
  height: 2rem !important;
  width: 190px !important;
  margin: 0 !important;
}

.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.header-menu {
  display: table;
  padding: 0 12px;
}

.header-menu:hover {
  background: black;
}

.default-margin {
  margin: 1em 3em 0 2em;
}

nav div ul {
  border-radius: 5px;
  width: inherit !important;
}

nav div ul li a {
  color: black !important;
}

.regular-border {
  border: 1px solid black;
}

.pointer {
  cursor: pointer;
}

.folio-style {
  color: green;
  font-weight: bolder;
}

.margin-none {
  margin: 0 !important;
}

.m-t-1em {
  margin-top: 1em !important;
}

.m-l-1em {
  margin-left: 1em !important;
}

.padding-none {
  padding: 0 !important;
}


.icon-center {
  vertical-align: sub;
}

.vendimia-top-text {
  color: green;
  font-size: 25px;
  padding-right: 65px;
}

.vendimia-ico {
  position: absolute;
  top: 9px;
  width: 40px;
  right: 15px;
}

.topbar-aditional {
  padding-right: 15px;
}